<h1>Notícias de Xadrez</h1>

<%= link_to "Back", root_path %>

<% @news.each do |item| %>
    <h2><%= item.title %></h2>
    <p><%= item.description %></p>
    <a href="<%= item.link %>">Leia mais</a>
<% end %>