<h1>Notícias de Xadrez</h1>

<nav>
    <ul>
        <li class=but_navegar><%= link_to "Back", root_path %></li>
    </ul>
</nav>

<% @news.each do |item| %>
    <div class="news">
        <h2><%= item.title %></h2>
        <p><%= item.description %></p>
        <a href="<%= item.link %>">Leia mais</a>
    </div>
<% end %>