/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 *{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

 :root{
    --cor1: #18965F;
    --cor2: #94E3C0;
    --cor3: #E4AA88;
    --cor4: #4B7896;
    --cor5: #7DBAE3;
 }

 h1{
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
    background-color: var(--cor1);
    border: 1px solid black;
}

 a{
    color: black;
    text-decoration: none;
 }

 body{
    background: url('fundoxadrez.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 nav{
    text-align: center;
 }

 nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
 }

 nav ul li{
    font-size: 1.3em;
    background-color: var(--cor4);
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
 }

 nav ul li:hover{
    background-color: var(--cor5);
 }